# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore environment variable files
.env
*.env

# Ignore local configuration files
local.yml
*.local

# Ignore coverage reports
coverage

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore build artifacts
dist
build

# Ignore IDE and editor settings
.vscode
.idea
*.swp

# Ignore version control system files
.git
.gitignore

# Ignore any temporary files
tmp
*.tmp